<div class="container">
<div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h2>Greetings! Welcome to BrooklynTots.</h2>

    <br>
  
    <p>A Brooklyn based community parenting website,</p>
    <p>open to current and soon to be parents in the surrouding neighborhoods of Brooklyn. </p>
    <br>
    <p>This website is a supportive environment for people to ask questions, share parenting tips and advice,</p>
    <p>schools, kid friendly events and over all, neighborhood news for Brooklyn families.</p>

    <br>
    p>Not a member?</p><%= link_to "Sign Up Here", signup_path , class: "btn btn-md btn-primary" %><br> <br>

    <p>Log Into Existing Account</p><%= link_to "Log In Here", login_path , class: "btn btn-md btn-primary" %><br> <br>
  
  </div>
</div>
