<h1>Listing</h1>

<div>
    <ul>
        <% @posts.each do |post| %>
            <h2>
                <li><%= link_to post.title, post %></li>
                
            </h2>
        <% end %>
    </ul>
</div>
<br><br>

<div class="center">
    <%= link_to "Edit Previous Post", edit_post_path(current_user) %>   
    <br><br>
    <%= link_to "Create a New Post", new_user_post_path(current_user) %>   
</div>