<h1>Listing</h1>

<ul>
    <% @posts.each do |post| %>
        <h2>
            <%= link_to post.title, post %>
            <%= post.content %>
        </h2>
    <% end %>
</ul>
<br><br>

<div class="center">
    <%= link_to "Edit Previous Post", edit_post_path(current_user) %>   
    <br><br>
    <%= link_to "Create a New Post", new_user_post_path(current_user) %>   
</div>