<h1>Listing</h1><%= link_to "return to home", user_path(@current_user) %>

<div>
    <ul>
        <% @posts.each do |post| %>
            <div>
                <h2>
                    <%= link_to post.title, post_path(post) %>   
                </h2>
            </div>
        <% end %>
    </ul>
</div>
<br><br>

<div class="center"> 
    <%= link_to "Create a New Post", new_user_post_path(@current_user) %>   
</div>